{
  "extends": [
    "react-app",
    "airbnb",
    "plugin:jsx-a11y/recommended",
    "eslint:recommended"
  ],
  "plugins": [
    "jsx-a11y",
    "prettier"
  ],
  "rules": {
    "arrow-body-style": ["error", "as-needed"],
    "arrow-parens": ["error", "as-needed"],
    "block-spacing": "error",
    "comma-dangle": ["error", "only-multiline"],
    "consistent-return": "error",
    "eqeqeq": "error",
    "implicit-arrow-linebreak": ["off", "beside"],
		"indent": ["error", 2],
    "jsx-quotes": ["error", "prefer-double"],
    "key-spacing": ["error", { "beforeColon": false }],
    "keyword-spacing": ["error", { "before": true }],
    "max-len": ["error", {
      "code": 120,
      "tabWidth": 2,
      "ignoreComments": true,
      "ignoreUrls": true
    }],
    "max-depth": ["error", 2],
    "max-lines-per-function": ["error", 60],
    "no-console": ["error", { "allow": ["warn", "error"] }],
    "no-const-assign": "error",
    "no-nested-ternary": "error",
    "no-var": "error",
    "no-eq-null": "error",
    "no-sync": "error",
    "no-undefined": "error",
    "prefer-const": "error",
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "react/jsx-closing-bracket-location": [1, {
      "nonEmpty": false,
      "selfClosing": "after-props"
    }],
		"react/jsx-props-no-spreading": [0, {
			"html": "ignore",
			"custom": "ignore",
			"explicitSpread": "ignore",
			"exceptions": []
    }],
    "require-yield": "error",
    "semi": 0
  }
}