.App-Header {
	
}
.App-Header__Link {

}

.App-Header--Unauthorized {
	
}

.App-Header--skeleton {

}

.App-Header--skeleton__Link {
	display: block;
	width: 50px;
	height: 50px;
	background-color: red;
}

